body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.buttons{
    display: flex;
}
button{
    font-size: 30px;
}

.display{
    height: 55px;
    background-color: gray;
    text-align: end;
    font-size: 30px;
}

.num{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
}

.sign{
    display: flex;
    flex-direction: column;
}

.nos, .decimal, .clear, .backspace{
    width: 100px;
    height: 100px;

}

.nos{
    background-color: gray;
}

#decimal, .clear, .backspace{
    background-color: blanchedalmond;
}

#zero{
    width: 300px;
}

.ope{
    width: 100px;
    height: 100px;
    background-color: burlywood;
}
.equal{
    background-color: rgb(255, 166, 0);
}

